@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    }

    body{
        font-family: "Rubik";
    }

    .container{
        display: grid;
        grid-template-columns: 30rem 1fr;
        grid-template-rows: min-content 1fr min-content;
        margin-bottom: 8rem;        
    }

    @media (max-width: 768px) {
        .container {
            grid-template-columns: 1fr;
        }
    
        nav {
            flex-direction: column;
            height: auto;
        }
    
        .search-bar input {
            width: 90%;
            left: 5%;
            top: 5rem;
        }
    
        .sidebar {
            display: none; 
        }
    }

/* NAVBAR */
nav {
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color:black;    
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 6.5rem;
    z-index: 30;
}

.link-logo{
    color: whitesmoke;
    width: 6.2rem;
    padding: 1rem;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
} 

.btn-home{
    background-color: #1f1f1f;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    position: absolute;
    top: 0.9rem;
    left: 50rem;
    color: #a7a7a7;
}

.btn-home i{
    font-size: 1.8rem;
}

.btn-home:hover{
    transform: scale(1.04);
}

.search-bar input{
    font-size: 1.5rem;
    font-weight: 548;
    padding: 1.5rem;
    border-radius: 10rem;
    border: none;
    width: 45rem;
    background-color: #1f1f1f;
    color: white;
    position: absolute;
    left: 55.5rem;
    top: 0.9rem;
}

.btn-explore{
    background-color: #1f1f1f;
	border-radius: 50rem;
	display: flex;
	justify-content: center;
	align-items: center;
    position: absolute;
    top: 1.7rem;
    right: 53rem;
    color: #a7a7a7;
}

.btn-explore:hover{
    transform: scale(1.24);
}

.btn-register{
    color: #a7a7a7;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5rem;
    position: fixed;
    right: 20rem;
    top: 2.5rem;
}

.btn-register:hover{
    color: whitesmoke;
    transform: scale(1.04);
    
}

.btn-login{
    text-decoration: none;
    position: absolute;
    top: 0.9rem;
    right: 1rem;
}

.btn-full{
    font-size: 1.5rem;
    color: black;
    padding: 1.5rem 3.5rem;
    border-radius: 3rem;
    font-weight: 700;
    background-color: whitesmoke;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-full:hover{
    transform: scale(1.04);
}

/* SideBar */
.sidebar{
    background-color: #121212;
    color: #b3b3b3;
    padding-top: 8rem;

    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    position: fixed;
    width: 30rem;
    height: 100%;
}

.nav-main{
    padding: 0 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.nav-main li{
    list-style: none;
}

.nav-main li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    font-weight: 600;
    text-overflow: ellipsis;
}

.nav-main li a i{
    font-size: 2rem;
}

.extra-options{
    display: inline-flex;
    flex-direction: column;
    gap: 3rem;

    padding: 0 2.4rem;
    margin-top: 1.8rem;
    flex: 1;
}

.extra-options button{
    border: none;
    outline: none;
    background: whitesmoke;
    color: black;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;

    padding: 1.5rem 3.5rem;
    border-radius: 3rem;
    display: flex;
    gap: 1.5rem;
    cursor: pointer;
}

.extra-options p{
    color: whitesmoke;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 3;
}

.extra-options button i{
    font-size:3rem;
}

.extra-options button:hover{
    transform: scale(1.04);
}

.container-links{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    top: 1rem;
}

.btn-language{
    border: 1px solid #727272;
    background: none;
    color: whitesmoke;
    padding: 1rem;
    width: 25rem;
    border-radius: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .4s ease;
}

.btn-language:hover{
    transform: scale(1.05);
}

.btn-language i{
    font-size: 1.8rem;
}

.container-links-legal{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-links-legal a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 1rem;
}


/*Contenido principal de la pág*/
.main-content{
    grid-row: 1/3;
    grid-column: 2/-1;

    background-color: #121212;
    padding: 8rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.title-playlist{

    font-size: 2.4rem;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 600;
}

.title-playlist:hover{
    text-decoration: underline;
}

.container-name-artist,
.container-name-albums{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.container-card-artist,
.container-card-albums{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.999rem;
}

.card-artist

.card-albums{
    border-radius: 5rem;
    padding: 1.6rem;
    transition: background-color .3s ease;
    cursor: pointer;
    position: relative;
}

.card-img-alb img{
    width: 90%;
    border-radius: .5rem;
}

.card-img img{
    width: 100%;
    border-radius: 8rem;
}

.card-img{
    overflow: hidden;
}

.card h2{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: whitesmoke;
    font-weight: 400;
}

/* Footer */
.footer{
    grid-row: 3/4;
    grid-column: 2/-1;
    color: whitesmoke;
    background-color: #121212;
    padding: 6rem 4rem;

    display:flex;
    flex-direction: column;
    gap: 6rem;
}

.container-links-footer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2a2a2a;
    padding-bottom: 5rem;
}

.links-footer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.links-footer a{
    text-decoration: none;
    color: #b3b3b3;
}

.links-footer a:hover{
    text-decoration: underline;
    color: whitesmoke;
}

.social-icons{
    display: flex;
    gap: 2rem;
}

.container-icon{
    color: whitesmoke;
    background-color: #1f1f1f;
    border-radius: 50%;
    width: 4.2rem;
    height: 4.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-icon:hover{
    background-color: #727272;
}

.container-icon i{
    font-size: 1.7rem;
}

.copyright p{
    color: #b3b3b3;
    font-size: 1.4rem;
}

.card p{
    font-size: 1.4rem;
    color: #b3b3b3;
    font-weight: 400;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
    

/* Banner Muestra de Spotify */
.banner-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:  1rem 2rem;
    background-image: linear-gradient(90deg, #af2893, #529bf8);
    color: white;

    position: fixed;
    bottom: 0;
    z-index: 20;
    width: 100%;
    height: 7rem;
}

.banner-bottom .content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.banner-bottom .content span{
    font-size: 1.4rem;
    font-weight: 700;
}

.banner-bottom .content p{
    font-size: 1.4rem;
}
